<div class="col-xs-12 col-md-6">
  <img src="<%=@user.avatar_url%>" width="300px">
  <h1><%= @user.username %></h1>
</div>

<div class="col-xs-12 col-md-6" style="text-align: right">
  <a class="btn btn-danger" href="#"># Q's: <%=@user.questions.length%></a>
  <a class="btn btn-danger" href="#"># A's: <%=@user.answers.length%></a>
</div>

<div class="col-xs-12">
  <h3>Top Questions</h3>
  <% @user.questions.each do |question| %>
  <div class="well">
    <blockquote>
      <p><a href="/questions/<%=question.id%>"><%= question.title %></a></p>
    </blockquote>
  </div>
  <%end %>
</div>
